*{
    font-family: 'Poppins', Courier, monospace;
    background-color: black;
}

header{
    width: 60%;
    margin: 1em auto;
    align-items: center;
    text-align: center;
}
h1{
    font: bolder;
    font-size: xx-large;
    text-align: centre;
    text-shadow: 3px 3px gray;
    color: white;
}

#intro{
    font-weight: bold;
    font-size: x-large;
    color: white;
}

#players {
    width: 60%;
    margin: 0.5em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.player{
    color: white;
}

#grid {
    width: 40%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Make grid columns responsive */
    grid-template-rows: repeat(3, 200px);
    padding: 15px;
}

.griditems {
    border: 4px solid white;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

#controls {
    width: 60%; /* Adjusted for better responsiveness */
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4px;
}

button {
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    border: 1px dashed white;
    color: white;
}

@media (max-width: 768px) {
    #grid {
        width: 60%; /* Increase width for smaller devices */
        grid-template-rows: repeat(3, 150px); /* Adjust row size */
    }

    .griditems {
        font-size: large; /* Adjust font size */
    }

    #controls {
        width: 80%; /* Increase control width */
    }
}

/* For mobile phones */
@media (max-width: 480px) {
    #grid {
        width: 90%; /* Increase width for very small devices */
        grid-template-rows: repeat(3, 100px); /* Further adjust row size */
    }

    .griditems {
        font-size: medium; /* Further adjust font size for readability */
    }

    #controls {
        flex-direction: column; /* Stack controls vertically */
        width: 90%; /* Increase control width */
    }

    button {
        margin-bottom: 10px; /* Add space between stacked buttons */
    }

    #players {
        flex-direction: column; /* Stack players information vertically */
        width: 90%; /* Adjust width for better fit on small screens */
        margin: 0 auto; /* Center align the players section */
        padding: 10px 0; /* Add some padding for spacing */
    }
}

